body{
  background-color: brown;
}
h3{
  font-weight: bold;
}
.clock{
  max-width: 600px;
  width: 90%;
  border: 2px solid gray;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.timer {
  font-size: 2em;
  border: 2px solid #cfcfcf;
  padding: 10px;
  width: 70%;
  font-weight: bold;
  border-radius: 10px;
  background-color: #e5e5e5;
}
.counters {
  max-width: 60%;
}
.counter {
  font-size: 1.4em;
  background-color: #e5e5e5;
  border-radius: 10px;
}
.btn {
  background-color: brown;
  color: #fff;
}